#include <windows.h>
#include "../src/version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR

            VALUE "ProductName",        VER_PRODUCTNAME_STR
            VALUE "CompanyName",        VER_COMPANYNAME_STR
            VALUE "FileDescription",    ""            
            VALUE "InternalName",       ""
            VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",   ""
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x00, 00
    END
END
